{
  "tyconia::ModPack": (
    mod_id: (
      mod_name: "tyconic",
      version: (
        major: 0,
        minor: 0,
        patch: 0,
        stage: Dev,
      ),
    ),
    descriptor: (
      display_name: "Tyconic",
      thumbnail: None,
      cover_art: None,
      descripion: "adds restaurants amenities and accomodations: NPCs, kitchen buildings etc",
      dependencies: [],
    ),
    attributions: (
      authors: [
        "qarkdev+gh@gmail.com",
      ],
      licenses: [
        "EULA",
      ],
      credits: [],
    ),
  ),
}
