{
    "tyconia::levels::items::Pack": (
        meta: (
            mod_name: "Tyconic",
            namespace: Vanilla,
            version: (
                major: 0,
                minor: 1,
                patch: 0,
                stage: Dev,
            ),
        ),
        items: [
            ("pizza_slice"),
            ("hamburger"),
            ("cheese_wheel"),
            ("bread_loaf"),
            ("pork_slab"),
        ],
        research: [
            ("Lemon stand I"),
            ("Lemon stand II"),
            ("Diner crash I"),
            ("Diner crash II"),
            ("Diner crash III"),
        ],
        recipes: [
            ("presumptive_pizza"),
            ("folk_pizza"),
            ("rustic_pizza"),
            ("standard_pizza"),
            ("artisanal_pizza"),
            ("gilded_pizza"),
            ("presumptive_burger"),
            ("folk_burger"),
            ("rustic_burger"),
            ("standard_burger"),
            ("artisanal_burger"),
            ("gilded_burger"),
            ("presumptive_fries"),
            ("folk_fries"),
            ("rustic_fries"),
            ("standard_fries"),
            ("artisanal_fries"),
            ("gilded_fries"),
        ],
    ),
}